html, body {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    background-attachment: fixed;
    transition: background 0.1s ease;
    overflow: overlay;
    overflow-y: overlay;
    overflow-x: overlay;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(to right, black, #8b0000);
    /*background-color: black;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(139, 0, 0, 1));
    height: 100%;
    background-size: cover;*/
    margin: 10px;
    padding: 10px
}

.videos-titulo1 {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 15px;
}

.videos-titulo1::-webkit-scrollbar {
    display: none;
}

.videos-titulo2 {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 15px;
}

.videos-titulo2::-webkit-scrollbar {
    display: none;
}

.videos-titulo3 {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 15px;
}

.videos-titulo3::-webkit-scrollbar {
    display: none;
}

.videos-titulo4 {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 15px;
}

.videos-titulo4::-webkit-scrollbar {
    display: none;
}

.playlist-titulo {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 15px;
}

.playlist-titulo::-webkit-scrollbar {
    display: none;
}

.video-item {
    display: inline-block;
    width: 300px;
    text-align: center;
}

h1, h2, h3, h4 {
    color: #efeadb;
    font-family: 'Times New Roman', sans-serif;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

.titulo {
    font-size: 18px;
    margin-top: 5px;
    font-weight: bold;
}

iframe {
    width: 300;
    height: 180;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    margin: 20px;
    opacity: 0.5;
}

iframe:hover {
    opacity: 1.0;
    border: 1px solid yellow;
}